# Action Example

# @text label="Say Hello" action=`echo "Hello from shell script!"`
HELLO=

# @text label="Your name"
NAME=

# @text label="Show $GREET" action=`echo "Hello $NAME"`
GREET=

# @button label="Show Date" action="date"
BUTTON_DATE=

# @button label="Custom Script" action="whoami"
BUTTON_CUSTOM=
