# Script Example

# @text label="Say Hello" script=`echo "Hello from shell script!"`
HELLO=

# @text label="Your name"
NAME=

# @text label="Show $GREET" script=`echo "Hello $NAME"` for="HIDDEN_VAR1,HIDDEN_VAR2"
GREET=

# @hidden label="This is hidden"
HIDDEN_VAR1=secret_value

# @hidden label="Another hidden variable" script=`echo "Hidden Script Executed"`
HIDDEN_VAR2=hidden_script_value

# @button label="Show Date" script="date"
BUTTON_DATE=

# @button label="Custom Script" script="whoami"
BUTTON_CUSTOM=
