# Skip and Hidden Example

# @text label="Prompted Field"
PROMPTED_FIELD=promptme

# @hidden note="This field is hidden"
HIDDEN_FIELD=hidden_value

# @skip note="All variables below will remain unchanged if they already exist"
SKIPPED_FIELD1=skip1
SKIPPED_FIELD2=skip2
SKIPPED_FIELD3=skip3
