# Script Example

# @text label="Your name"
NAME=Rahul

# @text label="Show $GREET" script=`echo "Hello $NAME"` note="You can add any locally executable file in the script"
GREET=

# @button label="Show Date" script="date"
BUTTON_OUTPUT=